{% extends "base.twig" %}

{% block head %}
    <title>Admin</title>
{% endblock %}

{% block content %}
    <h1>{{ msg }}</h1>
    <p>Token: {{ token }}</p>
    <p>BasePath: {{ app.request.basepath }}</p>
    <ul>
        <li><a href="{{ path('app_aster_test') }}" target="_blank">Test Aster Cluser connection</a></li>
        <li><a href="{{ path('app_logout') }}">Logout</a></li>
    </ul>
{% endblock %}