<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>Teradata Aster Website</title>
        {% endblock %}

        <!-- Import Google Icon Font -->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Import materialize.css -->
        <link type="text/css" rel="stylesheet" href="{{ app.asset_path }}/css/materialize.min.css"  media="screen,projection"/>

        {% block endhead %}
        {% endblock %}

        <link type="text/css" rel="stylesheet" href="{{ app.asset_path }}/css/main.css" />

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>

        <header>
            <nav class="top-nav green">
                <div class="container">
                    <div class="nav-wrapper">
                        <a href="#!" class="brand-logo">Teradata Aster</a>
                        <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
                        <ul class="right hide-on-med-and-down">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li {% if page=="app" %}class="active"{% endif %}>
                                    <a href="{{ path('app') }}">Panel</a>
                                </li>
                                <li><a href="{{ path('app_logout') }}">Logout</a></li>
                            {% else %}
                                <li {% if page=="signup" %}class="active"{% endif %}>
                                    <a href="{{ path('signup') }}">Signup</a>
                                </li>
                                <li {% if page=="login" %}class="active"{% endif %}>
                                    <a href="{{ path('login') }}">Login</a>
                                </li>
                            {% endif %}
                            <li {% if page=="about" %}class="active"{% endif %}><a href="/about">About</a></li>
                        </ul>
                        <ul class="side-nav" id="mobile-nav">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li><a href="{{ path('app_logout') }}">Logout</a></li>
                            {% else %}
                                <li {% if page=="login" %}class="active"{% endif %}>
                                    <a href="{{ path('login') }}">Login</a>
                                </li>
                            {% endif %}
                            <li {% if page=="about" %}class="active"{% endif %}><a href="/about">About</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="container">
            <p>&nbsp;</p>
            {% block content %}
                <h1>Base layout</h1>
            {% endblock %}
        </div>
        <!--
        <footer class="page-footer orange">
            <div class="container">
                <div class="row">
                    Footer
                </div>
            </div>
        </footer>
        -->
        <!-- jQuery And MaterializeCSS-->
        <script type="text/javascript" src="{{ app.asset_path }}/js/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{{ app.asset_path }}/js/materialize.min.js"></script>
        <script type="text/javascript">
            $(document).ready(new function() {
                $(".button-collapse").sideNav();
                $(".dropdown-button").dropdown();
            });
        </script>

        {% block endjs %}
        {% endblock %}
    </body>
</html>